.cv-color-grey-2 {
    color: #666;
}

.cv-color-warning {
    color: #EF971C;
}
.xzlc-container .lc-container {
	max-height: 330px;
	overflow: auto;
}
.xzlc-container .electiveBatchXznr {
	margin: 10px 0 0 0;
}
.xzlc-container .electiveBatchXznr .xznr-title{
	font-size: 14px;
    color: #3F4752;
    font-weight: bold;
}
.xzlc-container .electiveBatchXznr .xznr-content{
	min-height: 150px;
	max-height: 150px;
	overflow: auto;
	white-space: pre-wrap;
}
.xzlc-container .electiveBatchXznr .tyxz{
	margin-top: 5px;
	font-weight: bold;
}
.xzlc-container .electiveBatchXznr .tyxz label{
	cursor: pointer;
}
.xzlc-container .electiveBatchXznr .tyxz-input{
	margin-right: 5px;
}

.electiveBatch-list-table{
	width: 100%;
	border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    table-layout: fixed;
}

.electiveBatch-list-table td,
.electiveBatch-list-table th{
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 4px 10px;
    text-align: left;
}

.electiveBatch-list-table .cv-electiveBatch-operate{
	width: 50px;
	text-align: center;
}

.electiveBatch-list-table .cv-electiveBatch-name,
.electiveBatch-list-table .cv-electiveBatch-kssj,
.electiveBatch-list-table .cv-electiveBatch-jssj,
.electiveBatch-list-table .cv-electiveBatch-cause{
	width: 20%;
}

.electiveBatch-list-table .cv-electiveBatch-sfkkxq,
.electiveBatch-list-table .cv-electiveBatch-sfkct{
	width: 95px;
}


