.queue-list-table{
	width: 100%;
	border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    table-layout: fixed;
}

.queue-list-table td,
.queue-list-table th{
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 4px 10px;
    text-align: left;
}

.queue-list-table .cv-queue-state{
	width: 100px;
	text-align: center;
}

.queue-list-table .cv-queue-czlx{
	width: 70px;
}

.queue-list-table .cv-queue-kch{
	width: 120px;
}

.queue-list-table .cv-queue-kcm{
	width: 150px;
}

.queue-list-table .cv-queue-kxh{
	width: 60px;
}

.queue-list-table .cv-queue-skjs{
	width: 120px;
}

.queue-list-table .cv-queue-kclb{
	width: 100px;
}

.queue-list-table .cv-queue-kcxz{
	width: 100px;
}

.queue-list-table .cv-queue-xf{
	width: 50px;
}