@charset "UTF-8";

.bh-pull-right {
    float: right;
}

.bh-btn-default {
    color: #333;
    background-color: #fff;
    border: none;
    padding: 6px 8px;
}

.bh-btn {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 4px;
    font-weight: 400;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 8px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 1px;
    min-width: 80px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .32);
}

/**
  按钮样式
**/
.cv-btn {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 4px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    outline: none !important;
    padding: 2px;
    font-size: 12px;
    height: 20px;
    border-radius: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #2048B1;
    box-shadow: 0 4px 16px rgba(32, 72, 177, 0.4);
    color: #fff;
    -webkit-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}

.cv-btn:hover,
.cv-btn:focus {
    text-decoration: none;
    box-shadow: 0 8px 16px rgba(4, 122, 220, 0.5);
    background-color: #047ADC;
}

.cv-btn.cv-disabled,
.cv-btn[disabled] {
    cursor: default;
    opacity: 0.2;
    box-shadow: none;
    background-color: #2048B1;
}

a.cv-disabled,
a[disabled] {
    cursor: default;
    color: #999;
}

.cv-btn.cv-ghost {
    color: #047ADC;
    background-color: #fff;
    border-color: #2048b1;
}

.cv-btn.cv-ghost:hover,
.cv-btn.cv-ghost:focus {
    box-shadow: 0 8px 16px rgba(4, 122, 220, 0.5);
    background-color: #fff;
}

.cv-btn.cv-ghost.cv-disabled,
.cv-btn.cv-ghost[disabled] {
    opacity: 0.2;
    background-color: #fff;
}

.cv-btn.cv-tag {
    cursor: default;
    border-radius: 4px;
    background-color: rgba(102, 204, 204, 0.6);
    padding: 0 8px;
    box-shadow: none !important;
}

.cv-btn.cv-tag.cv-danger {
    cursor: default;
    border-radius: 4px;
    background-color: #CC0000;
    padding: 0 8px;
    box-shadow: none !important;
}

/**
  单选和多选按钮
**/
.cv-checkbox>label {
    position: relative;
    cursor: pointer;
}

.cv-checkbox>label>input {
    position: relative;
    width: 16px;
    height: 16px;
    opacity: 0;
    margin-right: 2px;
}

.cv-checkbox>label>input:checked+.cv-checkbox-helper {
    background-color: #60be29;
}

.cv-checkbox>label>input:checked+.cv-checkbox-helper:after {
    -webkit-transform: scale(1) rotate(-50deg);
    -ms-transform: scale(1) rotate(-50deg);
    transform: scale(1) rotate(-50deg);
    opacity: 1;
}

.cv-checkbox>label>input:checked+.cv-checkbox-helper:before {
    opacity: 0;
}

.cv-checkbox>label>div {
    display: inline-block;
}

.cv-checkbox.cv-active {
    background-color: #60be29;
}

.cv-checkbox.cv-active:after {
    -webkit-transform: scale(1) rotate(-50deg);
    -ms-transform: scale(1) rotate(-50deg);
    transform: scale(1) rotate(-50deg);
    opacity: 1;
}

.cv-checkbox.cv-active:before {
    opacity: 0;
}

.cv-checkbox-helper {
    position: absolute;
    width: 16px;
    height: 16px;
    top: -2px;
    left: 0;
    border-radius: 4px;
}

.cv-checkbox-helper:before,
.cv-checkbox-helper:after {
    content: "";
    -webkit-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cv-checkbox-helper:before {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 1px solid #d8dcf0;
}

.cv-checkbox-helper:after {
    position: absolute;
    opacity: 0;
    -webkit-transform: scale(0) rotate(80deg);
    -ms-transform: scale(0) rotate(80deg);
    transform: scale(0) rotate(80deg);
    width: 13px;
    height: 7px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    border-bottom-left-radius: 2px;
    left: 2px;
    top: 4px;
}

/**
  公共样式
**/
body {
    background-color: #eef3fa;
}

body>.main {
    position: relative;
    min-width: 1152px;
    margin: 0 auto;
    background-color: #fff;
    padding-right: 50px;
}

body>.main.no-kclb .search_kclb,
body>.main.no-kclb .search_kclb_label,
body>.main.no-kclb .cv-list .cv-type,
body>.main.no-kclb .cv-list .cv-school-type-col {
    display: none;
}

body>.main.no-zfx .cv-list .cv-Major {
    display: none;
}

body>.main .search_xklx,
body>.main .search_xklx_label,
body>.main .cv-cxxklx {
    display: none;
}

body>.main.hasSplitRetake .search_xklx,
body>.main.hasSplitRetake .search_xklx_label,
body>.main.hasSplitRetake .cv-cxxklx {
    display: inline-block;
}

body>.main>article {
    padding: 0 32px 30px;
}

.cv-clearfix {
    clear: both;
}

.cv-clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.cv-clearfix-child:after {
    content: "";
    display: table;
    clear: both;
}

.cv-pull-left {
    float: left;
}

.cv-pull-right {
    float: right;
}

.cv-absolute {
    position: absolute !important;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
    font-weight: normal;
}

h5 {
    font-size: 18px;
    font-weight: normal;
}

/**
 下边距系列
**/
.cv-mb-4 {
    margin-bottom: 4px !important;
}

.cv-mb-8 {
    margin-bottom: 8px !important;
}

.cv-mb-16 {
    margin-bottom: 16px !important;
}

.cv-mb-38 {
    margin-bottom: 38px !important;
}

.cv-mb-56 {
    margin-bottom: 56px !important;
}

.cv-mt-16 {
    margin-top: 16px;
}

.cv-pb-38 {
    padding-bottom: 38px;
}

.cv-caption-text {
    font-size: 12px;
    color: #bbb;
}

.cv-color-caption-white {
    color: rgba(255, 255, 255, 0.3) !important;
}

.cv-search-no-more {
    position: relative;
    width: 145px;
    height: 80px;
    font-size: 12px;
    color: #bbb;
    margin: 0 auto;
    padding: 33px 0;
    text-align: center;
}

.cv-search-no-more:before,
.cv-search-no-more:after {
    content: "";
    position: absolute;
    top: 40px;
    width: 32px;
    height: 1px;
    background-color: #bbb;
}

.cv-search-no-more:before {
    left: 0;
}

.cv-search-no-more:after {
    right: 0;
}

.cv-bg-color-primary {
    background-color: #2655c8;
}

.cv-color-danger {
    color: #FF7B7B;
}

.cv-warning-block {
    position: relative;
    background-color: #fff7eb;
    border: 1px solid #ffeacc;
    border-radius: 2px;
    display: inline-block;
    padding: 10px 16px;
}

.cv-block-hide {
    display: none !important;
}

.cv-block-show {
    display: block !important;
}

/**
  页面脚部
**/
.cv-page-footer {
    position: relative;
    width: 100%;
    line-height: 20px;
    color: #047ADC;
    font-size: 16px;
    text-align: center;
    padding: 10px 0;
}

.cv-page-footer #noline-tip {
    height: 20px;
}

.cv-page-footer>div {
    position: relative;
    z-index: 100;
    word-wrap: break-word;
    word-break: break-all;
}

.cv-page-footer>.cv-copyright {
    font-size: 12px;
}

/**
  页面头部
**/
.cv-page-header {
    position: relative;
    width: 100%;
    height: 60px;
    color: #fff;
    padding: 8px 32px;
    z-index: 100;
}

.cv-page-header>img {
    float: left;
    width: 202px;
    height: 38px;
    cursor: pointer
}

.cv-page-header>nav {
    position: relative;
    float: right;
    font-size: 14px;
    margin-top: 12px;
}

.cv-page-header>nav>span {
    cursor: pointer;
    margin-left: 10px;
    line-height: 25px;
}

.cv-page-header>div>.cv-tabs>li>a[disabled] {
    color: rgba(255, 255, 255, 0.3);
}

/**
  浏览器一些默认样式属性重置
**/
html,
body,
div,
iframe,
img,
i,
ul,
li,
nav,
h2,
h3,
h5,
input,
article,
aside,
footer,
header,
section {
    margin: 0;
    padding: 0;
    border: 0;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* we use a lot of ULs that aren't bulleted.
  you'll have to restore the bullets within content,
  which is fine because they're probably customized anyway */
ul {
    list-style: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    outline: none;
    color: #047ADC;
    text-decoration: none;
}

input,
select,
img {
    vertical-align: middle;
}

img {
    border: none;
}

section {
    position: relative;
}

:-ms-input-placeholder {
    color: #ddd;
}

input {
    font-family: inherit;
}

body {
    font-family: "Microsoft YaHei", "Arial-normal", "open sans",
        "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #3F4752;
    padding: 0 80px;
}

/**
  用户信息
**/
.cv-user {
    position: relative;
    width: 300px;
    height: 440px;
    background-color: #fff;
    float: right;
    padding: 24px;
    color: #444;
    border-radius: 8px;
}

.cv-user .cv-btn {
    width: 100%;
    height: 40px;
    font-size: 14px;
}

.cv-user-info-img {
    border: 1px solid #d8dcf0;
    padding: 1px;
    border-radius: 8px;
    margin-right: 8px;
    float: left;
}

.cv-user-info-img>img {
    width: 56px;
    height: 76px;
    border-radius: 8px;
}

.cv-user-info-option {
    float: left;
    width: calc(100% - 68px);
    padding: 10px 0;
}

.cv-user-info-option>h5 {
    font-size: 16px;
    font-weight: bold;
}

.cv-credit-chart {
    position: relative;
    width: 152px;
    height: 152px;
    margin: 0 auto;
}

.cv-credit-chart>div {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    font-size: 20px;
    padding-top: 70px;
    text-align: center;
    z-index: 100;
}

.cv-credit-info {
    text-align: center;
}

.cv-credit-info>div {
    width: 50%;
    float: left;
    border-right: 1px solid #cadcfe;
}

.cv-credit-info>div:last-child {
    border: none;
}

.cv-credit-info>div>div {
    margin-bottom: 6px;
}

.cv-credit-num {
    font-size: 20px;
}

.cv-credit-caption {
    color: #999;
}

.cv-credit-color {
    width: 24px;
    height: 4px;
    margin: 0 auto;
    border-radius: 4px;
}

.cv-credit-color.cv-all {
    background-color: #e6f1fd;
}

.cv-credit-color.cv-complete {
    background-color: #3c66ce;
}

.cv-credit-color.cv-not {
    background-color: #66cccc;
}

.cv-user-my-plan>.cv-btn {
    width: 120px;
}

/**
  右侧栏已选课程、志愿模块
**/
.cv-aside-choice {
    display: none;
}

.cv-aside-choice.cv-active {
    display: block;
}

.cv-aside-selected-course {
    background-color: #fff;
    overflow: auto;
    padding: 5px;
}

.cv-aside-selected-course>.cv-head {
    height: 28px;
    text-align: center;
    padding: 6px 0;
    background-color: rgba(233, 241, 251, 1);
}

.cv-aside-selected-course.cv-collapse>.cv-head {
    background-color: #047adc;
    color: #fff;
}

.cv-aside-selected-course.cv-collapse>.cv-body,
.cv-aside-selected-course.cv-collapse>.cv-collapse-btn {
    display: none;
}

.cv-aside-selected-course>.cv-body {
    margin-top: 4px;
    padding: 0 8px;
}

.cv-aside-selected-course>.cv-body h5 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
}

.cv-aside-selected-course>.cv-body>.cv-block {
    position: relative;
    margin-bottom: 8px;
}

.cv-aside-selected-course>.cv-body>.cv-block>.cv-course>.cv-sort {
    position: relative;
    margin-top: 8px;
}

.cv-aside-selected-course>.cv-body>.cv-block>.cv-course>.cv-sort>.cv-teacher-item {
    position: relative;
    height: 76px;
    border: 1px solid #cadcfe;
}

.cv-aside-selected-course>.cv-body>.cv-block>.cv-course>.cv-sort>.cv-teacher-item:not (:last-child) {
    border-bottom: none;
}

.cv-aside-selected-course>.cv-body>.cv-block>.cv-course>.cv-sort>.cv-teacher-item>div {
    float: left;
}

.cv-aside-selected-course>.cv-body>.cv-block>.cv-course>.cv-sort>.cv-teacher-item>.cv-drag {
    width: 40px;
    text-align: center;
    line-height: 76px;
    padding-top: 34px;
}

.cv-aside-selected-course>.cv-body>.cv-block>.cv-course>.cv-sort>.cv-teacher-item>.cv-drag>img {
    width: 15px;
    height: 11px;
}

.cv-aside-selected-course>.cv-body>.cv-block>.cv-course>.cv-sort>.cv-teacher-item>.cv-info {
    width: calc(100% - 40px - 106px);
    padding: 18px 0;
}

.cv-aside-selected-course>.cv-body>.cv-block>.cv-course>.cv-sort>.cv-teacher-item>.cv-info>div {
    margin-top: 4px;
}

.cv-aside-selected-course>.cv-body>.cv-block>.cv-course>.cv-sort>.cv-teacher-item>.cv-option {
    padding: 0 4px;
    width: 106px;
    text-align: right;
}

.cv-aside-selected-course>.cv-body>.cv-block>.cv-course>.cv-sort>.cv-teacher-item>.cv-option>h2 {
    color: #CADCFE;
    margin-bottom: 16px;
}

.cv-aside-selected-course>.cv-collapse-btn {
    position: relative;
    width: 48px;
    margin: auto;
    text-align: left;
    font-size: 14px;
    display: block;
}

.cv-aside-selected-course>.cv-collapse-btn:after {
    content: "";
    position: absolute;
    top: 5px;
    right: 0px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #047ADC;
    border-right: 2px solid #047ADC;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/**
  右侧栏课表模块
**/
.cv-aside-course {
    position: relative;
    display: none;
}

.cv-aside-course.cv-active {
    display: block;
}

.cv-aside-course .cv-course-table.cv-active>.cv-aside-course-page-btn {
    display: block;
}

.cv-aside-course .cv-course-table>.cv-left>.cv-head {
    height: 21px;
    line-height: 21px;
}

.cv-aside-course .cv-course-table>.cv-right>div>.cv-row>.cv-col {
    width: 67px;
}

.cv-aside-course .cv-course-table>.cv-right>.cv-head>.cv-row>.cv-col {
    min-height: 20px;
    line-height: 20px;
}

.cv-aside-course-page-btn {
    position: fixed;
    top: calc(50% - 36px);
    right: -36px;
    width: 72px;
    height: 40px;
    background-color: rgba(4, 122, 220, 0.6);
    border-radius: 40px;
    z-index: 100;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    cursor: pointer;
    display: none;
}

.cv-aside-course-page-btn:after {
    content: ">";
    position: absolute;
    font-weight: bold;
    left: 31px;
    top: 21px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    color: #fff;
}

/**
  右侧栏查询模块
**/
.cv-aside-search {
    display: none;
}

.cv-aside-search.cv-active {
    display: block;
}

.cv-aside-search>.cv-head {
    padding: 16px 8px;
}

.cv-aside-search>.cv-head>.cv-select {
    float: left;
    width: 100px;
    margin-right: 4px;
}

.cv-aside-search>.cv-head>.cv-input {
    position: relative;
    width: 360px;
    height: 28px;
    float: left;
    border: 1px solid #d8dcf0;
    border-radius: 8px;
}

.cv-aside-search>.cv-head>.cv-input>img {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
}

.cv-aside-search>.cv-head>.cv-input>input {
    width: 100%;
    height: 26px;
    border: none;
    border-radius: 8px;
    padding: 0 4px 0 24px;
    outline: none;
}

.cv-aside-search>.cv-body>.cv-result-caption {
    padding: 0 8px;
    margin-bottom: 4px;
}

.cv-search-list>.cv-item {
    padding: 8px;
    background-color: rgba(233, 241, 251, 0.6);
    border-bottom: 1px solid #cadcfe;
}

.cv-search-list>.cv-item:first-child {
    border-top: 1px solid #cadcfe;
}

.cv-search-list>.cv-item h5 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
}

.cv-search-list>.cv-item>.cv-course-info {
    margin-top: 8px;
    padding: 4px;
    border: 1px solid #cadcfe;
}

/**
  右侧栏用户信息模块
**/
.cv-aside .cv-user {
    top: calc(50% - 278px);
    float: none;
    margin: 0 auto;
    height: 556px;
    display: none;
}

.cv-aside .cv-user.cv-active {
    display: block;
}

.cv-aside .cv-user>div>.cv-user-info-img,
.cv-aside .cv-user>div>.cv-user-info-option {
    float: none;
    margin: auto;
    text-align: center;
}

.cv-aside .cv-user>div>.cv-user-info-img {
    width: 90px;
    height: 120px;
    padding: 2px;
}

.cv-aside .cv-user>div>.cv-user-info-img>img {
    width: 84px;
    height: 114px;
}

/**
  右侧栏模块
**/
.cv-aside {
    position: fixed;
    top: 0;
    right: -400px;
    width: 456px;
    height: 100%;
    z-index: 9999;
    -webkit-transition: right 0.45s;
    transition: right 0.45s;
}

.cv-aside.cv-expand {
    right: 0;
}

.cv-aside>.cv-mini,
.cv-aside>.cv-content {
    position: absolute;
    top: 0;
    height: 100%;
}

.cv-aside>.cv-mini {
    left: 0;
    width: 56px;
    background-color: #3d4969;
    text-align: center;
    color: #fff;
}

.cv-aside>.cv-mini>.cv-icons {
    position: relative;
    top: calc(50% - 150px);
}

.cv-aside>.cv-mini>.cv-icons>div {
    position: relative;
    height: 40px;
    padding: 8px 4px;
    cursor: pointer;
}

.cv-aside>.cv-mini>.cv-icons>div:before {
    content: "";
    position: absolute;
    top: 0;
    left: 4px;
    width: calc(100% - 8px);
    height: 1px;
    background-color: #646d87;
}

.cv-aside>.cv-mini>.cv-icons>div:hover {
    background-color: rgba(4, 122, 220, 0.3);
}

.cv-aside>.cv-mini>.cv-icons>div.cv-active {
    background-color: #047ADC;
}

.cv-aside>.cv-mini>.cv-icons>div>img {
    width: 20px;
    height: 20px;
}

.cv-aside>.cv-mini>.cv-icons>.cv-choice-icon {
    height: 180px;
}

.cv-aside>.cv-mini>.cv-icons>.cv-choice-icon:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 4px;
    width: calc(100% - 8px);
    height: 1px;
    background-color: #646d87;
}

.cv-aside>.cv-mini>.cv-icons>.cv-choice-icon>img,
.cv-aside>.cv-mini>.cv-icons>.cv-choice-icon>div {
    position: absolute;
}

.cv-aside>.cv-mini>.cv-icons>.cv-choice-icon>img {
    top: calc(50% - 36px);
    left: calc(50% - 18px);
    width: 36px;
    height: 36px;
}

.cv-aside>.cv-mini>.cv-icons>.cv-choice-icon>.cv-num {
    font-size: 14px;
    top: calc(50% - 27px);
    left: calc(50% - 18px);
    width: 36px;
    height: 36px;
}

.cv-aside>.cv-mini>.cv-icons>.cv-choice-icon>.cv-text {
    top: calc(50% + 4px);
    width: 48px;
    padding: 0 9px;
}

.cv-aside>.cv-mini>.cv-icons>.cv-choice-icon>.cv-choice-tip {
    top: 38px;
    left: 4px;
    width: 28px;
    height: 28px;
    background-color: #fd7c7e;
    border-radius: 100%;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 0;
}

.cv-aside>.cv-mini>.cv-top {
    position: absolute;
    width: 100%;
    height: 48px;
    line-height: 48px;
    bottom: 0;
    cursor: pointer;
}

.cv-aside>.cv-mini>.cv-top:before {
    content: "";
    position: absolute;
    top: 0;
    left: 4px;
    width: calc(100% - 8px);
    height: 1px;
    background-color: #646d87;
}

.cv-aside>.cv-mini>.cv-top:hover {
    background-color: rgba(4, 122, 220, 0.3);
}

.cv-aside>.cv-mini>.cv-top:after {
    content: "";
    position: absolute;
    top: 9px;
    left: 20px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #fff;
}

.cv-aside>.cv-content {
    left: 56px;
    width: 400px;
    background-color: #fff;
}

/**
  简单类型的课程卡片
**/
.cv-course-card-single {
    position: relative;
    text-align: center;
    font-size: 12px;
    width: 100%;
    height: 46px;
    padding: 8px;
    display: table;
}

.cv-course-card-single.cv-active {
    background-color: #e0f5f5;
}

.cv-course-card-single.cv-active:before,
.cv-course-card-single.cv-active:after {
    content: "";
    position: absolute;
}

.cv-course-card-single.cv-active:before {
    bottom: 4px;
    right: 4px;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background-color: #66cccc;
}

.cv-course-card-single.cv-active:after {
    bottom: 10px;
    right: 8px;
    width: 10px;
    height: 7px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.cv-course-card-single>div {
    display: table-cell;
    vertical-align: middle;
}

/**
  课程卡片
**/
.cv-course-card {
    position: relative;
    width: 260px;
    height: 180px;
    box-shadow: 0 4px 16px rgba(32, 72, 177, 0.2);
    border-radius: 8px;
    margin: 8px;
    padding: 16px;
    text-align: left;
    background-color: #fff;
    font-size: 12px;
    cursor: pointer;
}

.cv-course-card .tsTag {
    min-height: 20px;
}

.cv-course-card>.cv-info>h5>.cv-info-title {
    display: inline-block;
    width: calc(100% - 80px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: top;
}

.cv-course-card.cv-active,
.cv-course-card:hover {
    box-shadow: 0 8px 32px rgba(32, 72, 177, 0.6);
}

.cv-course-card>.cv-info>h5 {
    font-size: 16px;
}

.cv-course-card>.cv-info>h5>.cv-btn.cv-one {
    background-color: rgba(102, 204, 204, 0.6);
}

.cv-course-card>.cv-info>h5>.cv-btn.cv-two {
    background-color: rgba(4, 122, 220, 0.6);
}

.cv-course-card>.cv-info>h5>.cv-btn.cv-three {
    background-color: rgba(32, 72, 177, 0.6);
}

.cv-course-card>.cv-info>h5>.cv-btn.cv-four {
    background-color: rgba(153, 0, 102, 0.6);
}

.cv-course-card>.cv-info>h5>.cv-btn.cv-five {
    background-color: rgba(153, 0, 0, 0.6);
}

.cv-course-card>.cv-info>h5:after {
    content: "";
    display: table;
    clear: both;
}

.cv-course-card>.cv-info>h5>span {
    float: left;
    padding-top: 2px;
}

.cv-course-card>.cv-info>div {
    margin-top: 4px;
}

.cv-course-card .cv-operation {
    text-align: right;
}

.cv-course-card .cv-operation .cv-btn-cancel {
    background: #fff;
    color: #2048B1;
    border: 1px solid #2048B1;
    padding: 2px 12px;
}

.cv-course-card .cv-operation .cv-tag {
    margin-left: 10px;
    padding: 2px 12px;
    background-color: #2048B1;
    box-shadow: 0 4px 16px rgba(32, 72, 177, 0.4);
    color: #fff;
    border-radius: 8px;
}

.cv-course-card>.cv-operate {
    text-align: center;
    display: none;
}

.cv-course-card>.cv-operate>div {
    margin-top: 6px;
}

.cv-course-card>.cv-operate>div>.cv-btn {
    float: left;
    width: 101px;
    height: 28px;
    border-radius: 28px;
    font-size: 14px;
}

.cv-course-card>.cv-operate>div>.cv-btn.cv-btn-cancel {
    background: #fff;
    color: #2048B1;
    border: 1px solid #2048B1;
}

.cv-course-card>.cv-operate>div>.cv-btn:first-child {
    margin-left: 0;
    margin-right: 4px;
}

.cv-course-card.cv-setting>.cv-info {
    display: none;
}

.cv-course-card.cv-setting>.cv-operate {
    display: block;
}

/**
  内容头部样式
**/
.cv-course-header {
    padding: 10px 0;
}

.cv-course-header div h3 {
    font-weight: bold;
}

.cv-course-header>.cv-btn {
    position: relative;
    font-size: 14px;
    width: 160px;
    height: 40px;
    border-radius: 40px;
    background: #2048b1;
    background: -webkit-linear-gradient(bottom, #2048b1 0%, #2048b1 0%, #047adc 100%,
            #047adc 100%);
    background: linear-gradient(0deg, #2048b1 0%, #2048b1 0%, #047adc 100%, #047adc 100%);
}

.cv-course-header>.cv-btn>img {
    position: absolute;
    width: 38px;
    height: 38px;
    top: 0;
    left: calc(50% - 19px);
    opacity: 0.3;
}

.cv-mode-change-btn {
    position: relative;
}

.cv-mode-change-btn:after {
    content: "切换为简单模式 >";
    position: absolute;
    top: 10px;
    left: 26px;
}

.cv-mode-change-btn[mode="single"]:after {
    content: "切换为专家模式 >";
}

/**
  课表
**/
.cv-course-table {
    position: relative;
    width: 1086px;
    border: 1px solid #e0e0f5;
    text-align: center;
    margin: 0 auto;
}

.cv-course-table:after {
    content: "";
    display: table;
    clear: both;
}

.cv-course-table>section {
    position: relative;
    float: left;
}

.cv-course-table>section:after {
    content: "";
    display: table;
    clear: both;
}

.cv-course-table>.cv-left {
    position: relative;
    width: 68px;
    background-color: #e9f1fb;
}

.cv-course-table>.cv-left>.cv-head {
    height: 28px;
    line-height: 28px;
    border-right: 1px solid #e0e0f5;
    border-bottom: 1px solid #e0e0f5;
}

.cv-course-table>.cv-left>.cv-block-item {
    position: relative;
}

.cv-course-table>.cv-left>.cv-block-item>div {
    position: relative;
    float: left;
    width: 34px;
    border-right: 1px solid #e0e0f5;
    border-bottom: 1px solid #e0e0f5;
}

.cv-course-table>.cv-left>.cv-block-item:last-child>div {
    border-bottom: none;
}

.cv-course-table>.cv-left>.cv-block-item>.cv-left {
    display: table;
}

.cv-course-table>.cv-left>.cv-block-item>.cv-left>div {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

.cv-course-table>.cv-left>.cv-block-item>.cv-left[col="2"] {
    min-height: 108px;
}

.cv-course-table>.cv-left>.cv-block-item>.cv-left[col="4"] {
    min-height: 216px;
}

.cv-course-table>.cv-left>.cv-block-item>.cv-right[col="2"] {
    min-height: 108px;
}

.cv-course-table>.cv-left>.cv-block-item>.cv-right[col="4"] {
    min-height: 216px;
}

.cv-course-table>.cv-left>.cv-block-item>.cv-right>.cv-lesson-block-item {
    display: table;
    width: 100%;
    min-height: 108px;
}

.cv-course-table>.cv-left>.cv-block-item>.cv-right>.cv-lesson-block-item>div {
    width: 100%;
    display: table-row;
}

.cv-course-table>.cv-left>.cv-block-item>.cv-right>.cv-lesson-block-item>div>div {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    min-height: 54px;
    border-bottom: 1px solid #e0e0f5;
}

.cv-course-table>.cv-left>.cv-block-item>.cv-right>.cv-lesson-block-item:last-child>div:last-child>div:last-child {
    border-bottom: none;
}

.cv-course-table>.cv-left>.cv-block-item:after {
    content: "";
    display: table;
    clear: both;
}

.cv-course-table>.cv-right>div>.cv-row>.cv-col {
    position: relative;
    float: left;
    width: 145px;
    border-right: 1px solid #e0e0f5;
    border-bottom: 1px solid #e0e0f5;
}

.cv-course-table>.cv-right>div>.cv-row>.cv-col:last-child {
    border-right: none;
}

.cv-course-table>.cv-right>div>.cv-row:after {
    content: "";
    display: table;
    clear: both;
}

.cv-course-table>.cv-right>.cv-head {
    background-color: #e9f1fb;
}

.cv-course-table>.cv-right>.cv-head>.cv-row>.cv-col {
    height: 28px;
    min-height: 28px;
    line-height: 28px;
}

.cv-course-table>.cv-right>.cv-body>.cv-row {
    display: table;
}

.cv-course-table>.cv-right>.cv-body>.cv-row>.cv-col {
    float: none;
    display: table-cell;
    vertical-align: middle;
    min-height: 108px;
}

.cv-course-table>.cv-right>.cv-body>.cv-row>.cv-col.cv-none {
    height: 108px;
    background-image:
        url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"><line x1="0" y1="0" x2="100%" y2="100%" stroke="#e0e0f5" stroke-width="1"/></svg>');
}

.cv-course-table>.cv-right>.cv-body>.cv-row>.cv-col>.cv-content {
    min-height: inherit;
}

.cv-course-table>.cv-right>.cv-body>.cv-row>.cv-col.cv-single.cv-active {
    background-color: #e0f5f5;
}

.cv-course-table>.cv-right>.cv-body>.cv-row>.cv-col.cv-single>.cv-course-card-single {
    min-height: inherit;
}

.cv-course-table>.cv-right>.cv-body>.cv-row>.cv-col.cv-multiple {
    padding: 8px;
}

.cv-course-table>.cv-right>.cv-body>.cv-row>.cv-col.cv-multiple>.cv-course-card-single {
    border: 1px solid #e0e0f5;
}

.cv-course-table>.cv-right>.cv-body>.cv-row>.cv-col.cv-multiple>.cv-course-card-single:not (:first-child) {
    border-top: none;
}

.cv-course-table>.cv-right>.cv-body>.cv-row:last-child>.cv-col {
    border-bottom: none;
}

.cv-course-table .cv-placeholder-item {
    height: 108px;
}

.cv-course-table>.cv-right>.cv-body>.cv-row>.cv-col.cv-single:hover,
.cv-course-table>.cv-right>.cv-body>.cv-row>.cv-col.cv-single.cv-active:hover {
    background-color: #d8eafa;
}

.cv-course-card-single:hover,
.cv-course-card-single.cv-active:hover {
    background-color: #d8eafa;
}

/**
  alert对话框
**/
.cv-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.cv-dialog .cv-dialog-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
}

.cv-dialog>div:nth-of-type(2) {
    position: absolute;
    top: calc(50% - 124px);
    left: calc(50% - 184px);
    width: 368px;
    height: 248px;
    text-align: center;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 16px rgba(32, 72, 177, 0.4);
}

.cv-dialog.public-book>div:nth-of-type(2) {
    height: 138px;
}

.cv-dialog.public-book>div>.cv-body {
    height: 90px;
    background: #fff;
    color: #000;
}

.cv-dialog>div>.cv-body {
    color: #fff;
    padding-top: 42px;
    height: 200px;
    background: #ff9800;
    background: -webkit-linear-gradient(300deg, #ff9800 0%, #ff9800 0%, #ffb952 100%,
            #ffb952 100%);
    background: linear-gradient(150deg, #ff9800 0%, #ff9800 0%, #ffb952 100%, #ffb952 100%);
}

.cv-dialog.cv-success>div>.cv-body {
    background: green;
}

.cv-dialog.cv-danger>div>.cv-body {
    background: #990000;
}

.cv-dialog>div>.cv-body>img {
    width: 60px;
    height: 60px;
}

.cv-dialog>div>.cv-body>h2 {
    font-size: 20px;
}

.cv-dialog>div>.cv-foot {
    background-color: #fff;
    font-size: 0;
}

.cv-dialog>div>.cv-foot>div {
    display: inline-block;
    width: 50%;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    cursor: pointer;
}

.cv-dialog>div>.cv-foot>.cv-sure {
    color: #FF9800;
}

.cv-dialog>div>.cv-foot>.cv-sure:hover {
    background-color: #fff7eb;
}

.cv-dialog>div>.cv-foot>.cv-cancel:hover {
    background-color: #eef7fe;
}

.cv-dropdown-dialog {
    position: absolute;
    width: 160px;
    /*height: 148px;*/
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

.cv-dropdown-dialog>div {
    padding: 0 16px;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
}

.cv-dropdown-dialog>div:hover {
    background-color: #e8e8e8;
}

.cv-dropdown-dialog>div[disabled] {
    cursor: default;
    background-color: transparent;
    color: #bbbbbb;
}

/**
  循环列表样式
**/
.cv-list {
    text-align: center;
}

.cv-list>.cv-head,
.cv-list>.cv-body>.cv-row {
    position: relative;
}

.cv-list>.cv-head>div,
.cv-list>.cv-body>.cv-row>div {
    position: relative;
    width: 14.28571%;
    float: left;
}

.cv-list>.cv-head>div:nth-child(2),
.cv-list>.cv-body>.cv-row>div:nth-child(2) {
    width: 14.57143%;
}

.cv-list>.cv-head:after,
.cv-list>.cv-body>.cv-row:after {
    content: "";
    display: table;
    clear: both;
}

.cv-list>.cv-body>.cv-row:before {
    content: "";
    display: block;
    position: absolute;
    width: 9px;
    height: 9px;
    background: url('../../images/common/down-double.png');
    top: 18px;
    right: 50px;
    transition: all 0.5s;
}

.cv-list>.cv-body>.cv-row.cv-expand:before {
    transform: rotate(180deg);
}

.school-list .cv-body>.cv-row:before,
.public-list .cv-body>.cv-row:before {
    display: none;
}

.cv-list>.cv-head>div.cv-num,
.cv-list>.cv-body>.cv-row>div.cv-num {
    width: 13%;
    position: relative;
}

.cv-list .cv-num .cv-courseFlag,
.cv-list .cv-number-col .cv-courseFlag {
    position: absolute;
    top: 16px;
    left: 0;
    padding: 4px 10px;
    transform: rotate(-45deg);
    font-size: 12px;
    opacity: 0.8;
    color: red;
}

.cv-list>.cv-head>div.cv-course,
.cv-list>.cv-body>.cv-row>div.cv-course {
    width: 15%;
}

.cv-list>.cv-head>div.cv-class,
.cv-list>.cv-body>.cv-row>div.cv-class {
    width: 10%;
}

.cv-list>.cv-head>div.cv-type,
.cv-list>.cv-body>.cv-row>div.cv-type {
    width: 10%;
}

.cv-list>.cv-head>div.cv-nature,
.cv-list>.cv-body>.cv-row>div.cv-nature {
    width: 10%;
}

.cv-list>.cv-head>div.cv-cxxklx,
.cv-list>.cv-body>.cv-row>div.cv-cxxklx {
    width: calc(15% - 50px);
}

.cv-list>.cv-head {
    background-color: rgba(230, 240, 252, 1);
}

.cv-list>.cv-head>div {
    border-right: 1px solid #fff;
    height: 28px;
    padding: 6px 0;
    cursor: pointer;
}

.cv-list>.cv-head>div:last-of-type {
    border-right: none;
}

.cv-list>.cv-head>div:before,
.cv-list>.cv-head>div:after {
    content: "";
    position: absolute;
    right: 4px;
    width: 0;
    height: 0;
}

.cv-list>.cv-head>div:before {
    top: 10px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 4px solid #444;
}

.cv-list>.cv-head>div:after {
    top: 16px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid #444;
}

.cv-list>.cv-head>div.cv-up:before {
    top: 13px;
}

.cv-list>.cv-head>div.cv-up:after {
    display: none;
}

.cv-list>.cv-head>div.cv-down:before {
    display: none;
}

.cv-list>.cv-head>div.cv-down:after {
    top: 13px;
}

.cv-list>.cv-head>div.cv-normal:before,
.cv-list>.cv-head>div.cv-normal:after {
    display: none;
}

.cv-list>.cv-body>.cv-row {
    font-size: 14px;
    border-bottom: 1px solid rgba(230, 240, 252, 0.6);
}

.cv-list>.cv-body>.cv-row:hover {
    color: #047ADC;
    background-color: rgba(230, 240, 252, 0.6);
    cursor: pointer;
}

.cv-public-course .cv-list>.cv-body>.cv-row:hover {
    cursor: default;
}

.cv-list>.cv-body>.cv-row>div {
    min-height: 40px;
    padding: 12px 0;
    word-break: break-all;
    word-wrap: break-word;
}

.cv-list>.cv-body>.cv-row .num-value{
	position:relative;
}

.cv-list>.cv-body>.cv-row.cv-active .num-value:before,
.cv-list>.cv-body>.cv-row.cv-active .num-value:after {
    content: "";
    position: absolute;
}

.cv-list>.cv-body>.cv-row.cv-active .num-value:before {
    top: 0;
    right: -24px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #66cccc;
}

.cv-list>.cv-body>.cv-row.cv-active .num-value:after {
    top: 5px;
    right: -20px;
    width: 12px;
    height: 8px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.cv-list>.cv-body>.cv-row>section {
    padding: 8px 12px 28px 24px;
    clear: both;
    display: none;
}

.cv-list>.cv-body>.cv-row>section>.cv-course-card {
    float: left;
}

.cv-list>.cv-body>.cv-row>section:after {
    content: "";
    display: table;
    clear: both;
}

.cv-list>.cv-body>.cv-row.cv-expand {
    color: #444;
    background-color: rgba(230, 240, 252, 0.6);
    border: 2px solid #80baf9;
    border-radius: 8px;
}

.cv-list>.cv-body>.cv-row.cv-expand>section {
    display: block;
}

.cv-department-col {
    width: 20% !important;
}

.cv-Major {
    width: 60px !important;
}

.cv-credit-col {
    width: 10% !important;
}

/**
  重写页头样式
**/
.cv-page-header .cv-tabs {
    font-size: 16px;
    font-weight: bold;
    padding-top: 8px;
    border: none;
}

.cv-page-header .cv-tabs>li>a {
    color: #fff;
    padding: 0 10px 16px 10px;
}

.cv-page-header .cv-tabs>li>a:after {
    height: 4px;
}

/**
  公选课模块
**/
.cv-public-course .cv-list>.cv-head>div,
.cv-public-course .cv-list>.cv-body>.cv-row>div {
    font-size: 12px;
}

#cvRetakeCourse .cv-public-course .cv-list>.cv-body>.cv-row>div {
    font-size: 14px;
}

.cv-row .cv-detail {
    font-size: 12px;
}

.cv-row .cv-faDetail {
    font-size: 12px;
    color: #047ADC;
    cursor: pointer;
    padding-left: 4px;
    display: inline-block;
}

.cv-public-course .cv-list>.cv-head>.cv-number-col,
.cv-public-course .cv-list>.cv-body>.cv-row>.cv-number-col {
    width: 15%;
    position: relative;
}

.cv-public-course .cv-list>.cv-head>.cv-title-col,
.cv-public-course .cv-list>.cv-body>.cv-row>.cv-title-col {
    width: 15%;
}

.cv-public-course .cv-list>.cv-head>.cv-teacher-col,
.cv-public-course .cv-list>.cv-body>.cv-row>.cv-teacher-col {
    width: 10%;
}

.cv-public-course .cv-list>.cv-head>.cv-time-col,
.cv-public-course .cv-list>.cv-body>.cv-row>.cv-time-col {
    width: 15%;
}

.cv-public-course .cv-list>.cv-head>.cv-capcity-col,
.cv-public-course .cv-list>.cv-body>.cv-row>.cv-capcity-col {
    width: 5%;
}

.cv-public-course .cv-list>.cv-head>.cv-firstVolunteer-col,
.cv-public-course .cv-list>.cv-body>.cv-row>.cv-firstVolunteer-col {
    width: 7%;
}

.cv-public-course .cv-list>.cv-head>.cv-type-col,
.cv-public-course .cv-list>.cv-body>.cv-row>.cv-type-col {
    width: 9%;
}

.cv-public-course .cv-list>.cv-head>.cv-credit-col,
.cv-public-course .cv-list>.cv-body>.cv-row>.cv-credit-col {
    width: 5% !important;
}

.cv-public-course .cv-list .cv-jcbook-col {
    width: 9% !important;
}

.cv-public-course .cv-list>.cv-head>.cv-setting-col,
.cv-public-course .cv-list>.cv-body>.cv-row>.cv-setting-col {
    width: 9%;
    border-right: none;
}

.cv-public-course .cv-list>.cv-head>.cv-setting-col:after,
.cv-public-course .cv-list>.cv-body>.cv-row>.cv-setting-col:after {
    content: "";
    display: table;
    clear: both;
}

.cv-public-course .cv-list>.cv-head>.cv-setting-col:after {
    border: none;
}

.cv-public-course .cv-list>.cv-body>.cv-row>.cv-setting-col .cv-jxbdetail {
    margin-left: 10px;
}

.cv-public-course .cv-list>.cv-body>.cv-row>.cv-setting-col>.cv-btn.cv-tag {
    padding: 0 2px;
    margin: 8px auto;
    /*float: left;*/
    border-radius: 8px;
}

.cv-public-course .cv-list>.cv-body>.cv-row>.cv-setting-col>a {
    /*float: left;*/
    display: inline-block;
    margin-top: 12px;
}

.cv-public-course .cv-list>.cv-body>.cv-row>.cv-setting-col>a[disabled] {
    color: #ccc;
}

.cv-public-course .cv-list>.cv-body>.cv-row>.cv-setting-col>.cv-btn,
.cv-public-course .cv-list>.cv-body>.cv-row>.cv-setting-col>.cv-modify {
    display: none;
}

/*.cv-public-course .cv-list > .cv-body > .cv-row > .cv-setting-col > .cv-choice {
    margin-left: 40px; }*/
.cv-public-course .cv-list>.cv-body>.cv-row>.cv-setting-col.cv-selected.cv-two>.cv-btn {
    background-color: rgba(4, 122, 220, 0.6);
}

.cv-public-course .cv-list>.cv-body>.cv-row>.cv-setting-col.cv-selected.cv-three>.cv-btn {
    background-color: rgba(32, 72, 177, 0.6);
}

.cv-public-course .cv-list>.cv-body>.cv-row>.cv-setting-col.cv-selected.cv-four>.cv-btn {
    background-color: rgba(153, 0, 102, 0.6);
}

.cv-public-course .cv-list>.cv-body>.cv-row>.cv-setting-col.cv-selected.cv-five>.cv-btn {
    background-color: rgba(153, 0, 0, 0.6);
}

.cv-public-course .cv-list>.cv-body>.cv-row>.cv-setting-col.cv-selected>.cv-btn,
.cv-public-course .cv-list>.cv-body>.cv-row>.cv-setting-col.cv-selected>.cv-modify {
    display: block;
}

.cv-public-course .cv-list>.cv-body>.cv-row>.cv-setting-col.cv-selected>.cv-choice {
    display: none;
}

/*.cv-public-course .cv-list > .cv-head > div:nth-child(1),
  .cv-public-course .cv-list > .cv-body > .cv-row > div:nth-child(1) {
    width: 80px; }
  .cv-public-course .cv-list > .cv-head > div:nth-child(2),
  .cv-public-course .cv-list > .cv-body > .cv-row > div:nth-child(2) {
    width: 154px; }
  .cv-public-course .cv-list > .cv-head > div:nth-child(3),
  .cv-public-course .cv-list > .cv-body > .cv-row > div:nth-child(3) {
    width: 80px; }
  .cv-public-course .cv-list > .cv-head > div:nth-child(4),
  .cv-public-course .cv-list > .cv-body > .cv-row > div:nth-child(4) {
    width: 274px; }
  .cv-public-course .cv-list > .cv-head > div:nth-child(5),
  .cv-public-course .cv-list > .cv-body > .cv-row > div:nth-child(5) {
    width: 60px; }
  .cv-public-course .cv-list > .cv-head > div:nth-child(6),
  .cv-public-course .cv-list > .cv-body > .cv-row > div:nth-child(6) {
    width: 88px; }
  .cv-public-course .cv-list > .cv-head > div:nth-child(7),
  .cv-public-course .cv-list > .cv-body > .cv-row > div:nth-child(7) {
    width: 155px; }
  .cv-public-course .cv-list > .cv-head > div:nth-child(8),
  .cv-public-course .cv-list > .cv-body > .cv-row > div:nth-child(8) {
    width: 154px; }
  .cv-public-course .cv-list > .cv-head > div:nth-child(9),
  .cv-public-course .cv-list > .cv-body > .cv-row > div:nth-child(9) {
    width: 50px; }
  .cv-public-course .cv-list > .cv-head > div:nth-child(10),
  .cv-public-course .cv-list > .cv-body > .cv-row > div:nth-child(10) {
    width: 50px; }
  .cv-public-course .cv-list > .cv-head > div:nth-child(11),
  .cv-public-course .cv-list > .cv-body > .cv-row > div:nth-child(11) {
    width: 95px;
    border-right: none; }*/

/*.cv-public-course .cv-list > .cv-head > div:nth-child(11):after,
    .cv-public-course .cv-list > .cv-body > .cv-row > div:nth-child(11):after {
      content: "";
      display: table;
      clear: both; }

.cv-public-course .cv-list > .cv-body > .cv-row > div:nth-child(11) {
  padding: 0 0; }
  .cv-public-course .cv-list > .cv-body > .cv-row > div:nth-child(11) > .cv-btn.cv-tag {
    padding: 0 2px;
    margin: 8px 4px 0 8px;
    float: left;
    border-radius: 8px; }
  .cv-public-course .cv-list > .cv-body > .cv-row > div:nth-child(11) > a {
    float: left;
    margin-top: 12px; }
  .cv-public-course .cv-list > .cv-body > .cv-row > div:nth-child(11) > .cv-btn,
  .cv-public-course .cv-list > .cv-body > .cv-row > div:nth-child(11) > .cv-modify {
    display: none; }
  .cv-public-course .cv-list > .cv-body > .cv-row > div:nth-child(11) > .cv-choice {
    margin-left: 40px; }
  .cv-public-course .cv-list > .cv-body > .cv-row > div:nth-child(11).cv-selected.cv-two > .cv-btn {
    background-color: rgba(4, 122, 220, 0.6); }
  .cv-public-course .cv-list > .cv-body > .cv-row > div:nth-child(11).cv-selected.cv-three > .cv-btn {
    background-color: rgba(32, 72, 177, 0.6); }
  .cv-public-course .cv-list > .cv-body > .cv-row > div:nth-child(11).cv-selected.cv-four > .cv-btn {
    background-color: rgba(153, 0, 102, 0.6); }
  .cv-public-course .cv-list > .cv-body > .cv-row > div:nth-child(11).cv-selected.cv-five > .cv-btn {
    background-color: rgba(153, 0, 0, 0.6); }
  .cv-public-course .cv-list > .cv-body > .cv-row > div:nth-child(11).cv-selected > .cv-btn,
  .cv-public-course .cv-list > .cv-body > .cv-row > div:nth-child(11).cv-selected > .cv-modify {
    display: block; }
  .cv-public-course .cv-list > .cv-body > .cv-row > div:nth-child(11).cv-selected > .cv-choice {
    display: none; }*/

/**
  select下拉框
**/
.cv-select {
    position: relative;
    height: 28px;
    border: 1px solid #d8dcf0;
    border-radius: 8px;
    color: #666;
    padding: 6px 0;
}

.cv-select:after {
    content: "";
    position: absolute;
    top: 9px;
    right: 8px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #666;
}

/**
  tab
**/
.cv-tabs {
    position: relative;
    width: 100%;
    list-style: none;
    font-size: 14px;
    border-bottom: 1px solid #e5f1e9;
}

.cv-tabs:after {
    content: "";
    display: table;
    clear: both;
}

.cv-tabs>li {
    position: relative;
    float: left;
    padding: 5px 0;
}

.cv-tabs>li>a {
    position: relative;
    color: #444;
    padding: 6px 16px;
    margin-right: 2px;
}

.cv-tabs>li>a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    -webkit-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.cv-tabs>li>a:hover:after {
    background-color: #ffcc00;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.cv-tabs>li>a[disabled] {
    color: #ccc;
    cursor: default;
}

.cv-tabs>li>a[disabled]:after {
    -webkit-transform: scale(0) !important;
    -ms-transform: scale(0) !important;
    transform: scale(0) !important;
}

.cv-tabs>li.cv-active>a,
.cv-tabs>li.cv-active>a:hover {
    cursor: default;
}

.cv-tabs>li.cv-active>a:after,
.cv-tabs>li.cv-active>a:hover:after {
    background-color: #ffcc00;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.cv-tab-content>.cv-tab-pane {
    display: none;
}

.cv-tab-content>.cv-tab-pane.cv-active {
    display: block;
}

.cv-tab-pane {
    position: relative;
    overflow: auto;
}

#changeCampus.cv-select:after {
    top: 16px;
}

.cv-popover {
    position: absolute;
    top: 0;
    left: 0;
    width: 192px;
    height: 120px;
    z-index: 9999;
}

.cv-popover>.cv-course-card {
    cursor: default;
}

.cv-popover-position {
    position: absolute;
    bottom: -18px;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #fff;
}
.cv-course-header label{
	line-height: 26px;
}
.cv-search-input {
    height: 28px;
    border-radius: 4px;
    width: 240px;
    border: 1px solid #d8dcf0;
    padding: 0 4px;
    margin-bottom: 10px;
    vertical-align: top;
}

.cv-search-input.search_sfct,
.cv-search-input.search_sfym,
.cv-search-input.search_xklx,
.cv-search-input.search_kcxz,
.cv-search-input.search_nj {
    width: 90px;
}

.cv-search-input.search_kclb {
    width: 150px;
}

.cv-list>.cv-body {
    min-height: 300px;
}

.jszp {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    padding: 50px 0;
    text-align: center;
    z-index: 200;
}

.jszp .btns {
    text-align: right;
    padding-right: 400px;
    padding-top: 40px;
}

.jszp .btns .cv-btn {
    padding: 10px 20px;
    height: 35px;
}

.bh-btn-primary {
    margin-left: 0;
    margin-right: 4px;
    float: left;
    width: 101px;
    height: 28px;
    border-radius: 28px;
    font-size: 14px;
}

.tbTitle {
    color: #666;
}

#cvUnsuccessfulCourse .cv-list>.cv-head {
    background-color: #cadcfe;
}

#cvUnsuccessfulCourse .cv-list>.cv-body>.cv-row {
    font-size: 12px;
}

#cvUnsuccessfulCourse .cv-list>.cv-head>div {
    font-weight: bold;
}

.lxTable .thtr h6,
.lxTable td {
    font-size: 14px;
}

.lxTable tr {
    border-bottom: 1px solid #68B8F7;
}

.lxTable tr.thtr {
    border-bottom: 1px solid #2196F3;
}

.lxTable .color-danger {
    color: #E24034
}

.cv-jxbdatail .title {
    font-size: 16px;
    font-weight: 700;
    border-left: 4px solid #7A1EA1;
    padding-left: 8px;
    line-height: 16px;
    margin: 16px 0;
}

.cv-jxbdatail .jsxx {
    min-height: 20px;
}

.cv-jxbdatail .tjbjxx {
    min-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
}

.cv-jxbdatail .jxbxx {
    min-height: 20px;
}

.cv-jxbdatail .jsxx a {
    margin-bottom: 4px;
    margin-right: 16px;
}

.cv-jxbdatail .jsxx a.url {
    margin-left: -16px;
    margin-right: 16px;
}

.schoolcourse-view-table a.jsSimple {
    margin-bottom: 4px;
    margin-right: 16px;
}

.schoolcourse-view-table a.url {
    margin-left: -16px;
    margin-right: 16px;
    margin-bottom: 4px;
}

.self-line-height {
    line-height: 15px;
}

/**
 * 全校课程模块
 */
.cv-school-course .cv-list>.cv-head>div,
.cv-school-course .cv-list>.cv-body>.cv-row>div {
    font-size: 12px;
}

.cv-school-course .cv-list>.cv-head>.cv-school-cz-col,
.cv-school-course .cv-list>.cv-body>.cv-row>.cv-school-cz-col {
    width: 5%;
}

.cv-school-course .cv-list>.cv-head>.cv-school-number-col,
.cv-school-course .cv-list>.cv-body>.cv-row>.cv-school-number-col {
    width: 15%;
}

.cv-school-course .cv-list>.cv-head>.cv-school-title-col,
.cv-school-course .cv-list>.cv-body>.cv-row>.cv-school-title-col {
    width: 15%;
}

.cv-school-course .cv-list>.cv-head>.cv-school-index-col,
.cv-school-course .cv-list>.cv-body>.cv-row>.cv-school-index-col {
    width: 5%;
}

.cv-school-course .cv-list>.cv-head>.cv-school-department-col,
.cv-school-course .cv-list>.cv-body>.cv-row>.cv-school-department-col {
    width: 20%;
}

.cv-school-course .cv-list>.cv-head>.cv-school-nature-col,
.cv-school-course .cv-list>.cv-body>.cv-row>.cv-school-nature-col {
    width: 10%;
}

.cv-school-course .cv-list>.cv-head>.cv-school-type-col,
.cv-school-course .cv-list>.cv-body>.cv-row>.cv-school-type-col {
    width: 10%;
}

.cv-school-course .cv-list>.cv-head>.cv-school-credit-col,
.cv-school-course .cv-list>.cv-body>.cv-row>.cv-school-credit-col {
    width: 5%;
}

.cv-school-course .cv-list>.cv-head>.cv-school-hours-col,
.cv-school-course .cv-list>.cv-body>.cv-row>.cv-school-hours-col {
    width: 5%;
}

.cv-school-course .cv-list>.cv-head>.cv-school-teacher-col,
.cv-school-course .cv-list>.cv-body>.cv-row>.cv-school-teacher-col {
    width: 10%;
}

.table.syk-table td {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 2px 4px;
    text-align: center;
}

.table.syk-table th {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 2px 4px;
    text-align: center;
}

.table.syk-table .table-container {
    overflow: auto;
    max-height: 420px;
}
.table.syk-table {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%;
}

.table.syk-table table {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%;
}

.table.syk-table a.cv-btn {
    padding: 3px 10px;
    height: 25px;
    margin-top: 10px;
}

.schoolcourse-view-table .table-all>tbody>tr>td:first-of-type {
    width: 100px;
}

.schoolcourse-view-table h4 {
    border-left: 4px solid #7A1EA1;
    padding-left: 8px;
    line-height: 16px;
    margin: 16px 0;
}

.schoolcourse-view-table .table-all,
.schoolcourse-view-table .xzxx-item-table {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%;
}

.schoolcourse-view-table table td {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
}

.schoolcourse-view-table .xzxx-item-table .xzlx {
    width: 100px;
}

.schoolcourse-view-table .xzxx-item-table .xzjg {
    width: 85px;
}

.bh-btn-primary.bh-active,
.bh-btn-primary.bh-focus,
.bh-btn-primary:active,
.bh-btn-primary:focus,
.bh-btn-primary:hover {
    color: #fff;
    background-color: #00BBD9;
}

.bh-btn-primary {
    color: #fff;
    background-color: #00BBD9;
    border: none;
}

.bh-btn-default.bh-active,
.bh-btn-default.bh-focus,
.bh-btn-default:active,
.bh-btn-default:focus,
.bh-btn-default:hover {
    color: #333;
    background-color: #fff;
    border-color: none;
}

.bh-btn-default {
    color: #333;
    background-color: #fff;
    border: none;
    padding: 6px 8px;
}

.jqx-window #buttons .bh-pull-right {
    float: right;
}

.jqx-window #buttons .bh-btn-primary {
    margin-left: 0;
    margin-right: 4px;
    float: right;
    width: auto;
    height: auto;
    border-radius: 0;
}

.jqx-window #buttons .bh-btn {
    cursor: pointer;
}

.syfa-table {
    margin-top: 10px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.syfa-table th,
.syfa-table td {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
}

.syfa-table td span {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}

.syfa-table .nj {
    width: 100px;
}

.syfa-table .kclb {
    width: 200px;
}

.syfa-table .kcxz {
    width: 100px;
}

.cv-syfa-foot {
    text-align: center;
    padding-top: 20px
}

.cv-hide {
    display: none;
}

.cv-show {
    display: block;
}

.queue-state {
    color: #CC0000;
    line-height: 20px;
    vertical-align: top;
    padding-left: 10px;
}

@media screen and (max-width:1400px) {
    body {
        padding: 0;
    }
}