.jqx-window-close-button.jqx-icon-close {
  background-image: url("../../images/common/icon-close.png");
  background-size: contain;
}

.jqx-window {
  background-color: #fff;
  padding: 19px 16px;
  position: absolute;
  overflow: hidden;
  border: none;
  -webkit-box-shadow: 0 6px 24px rgba(0, 0, 0, 0.24);
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.24);
}

.jqx-window-header {
  outline: none;
  border-width: 0px;
  border-bottom: 1px solid transparent;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 20px;
}

.jqx-window-content {
  outline: none;
  overflow: auto;
  text-align: left;
  background-color: transparent;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.jqx-window-content-disabled {
  outline: none;
  overflow: auto;
  text-align: left;
}

.jqx-window-close-button {
  cursor: pointer;
  background-image: url('../../images/common/icon-close.png');
  background-repeat: no-repeat;
}

.jqx-window-collapse-button {
  /* background-image: url('../../images/common/icon-up.png'); */
  cursor: pointer;
  margin-top: 1px;
}

.jqx-window-collapse-button-collapsed {
  margin-top: 0px;
  cursor: pointer;
 /*  background-image: url('../../images/common/icon-down.png'); */
}

.jqx-window-modal {
  background-color: #000;
}
.jqx-window-content > .content > [emap-role=form] > .bh-table-form {
  margin-top: 24px;
}
