.bh-switch {
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none
}
.bh-switch input{
    filter: alpha(opacity=0);
    opacity: 0
}
.bh-switch {
    display: inline-block;
    vertical-align: top;
    position: relative;
    user-select: none
}

.bh-switch:after {
    content: "";
    display: table;
    clear: both
}

.bh-switch>label {
    float: left
}

.bh-switch:hover .bh-switch-helper:before {
    box-shadow: 0 8px 14px rgba(0,0,0,.25)
}

.bh-switch:hover input:disabled {
    cursor: no-drop
}

.bh-switch:hover input:disabled+.bh-switch-helper:before {
    background-color: #D8DCF0;
    box-shadow: none
}

.bh-switch .bh-switch-label {
    display: inline-block;
    margin: 0 10px 0 0;
    vertical-align: top;
    -webkit-transition: color .56s cubic-bezier(.4,0,.2,1);
    transition: color .56s cubic-bezier(.4,0,.2,1);
    font-weight: 400;
    padding: 2px 8px;
    line-height: 20px;
}

.bh-switch .bh-switch-helper {
    display: inline-block;
    position: relative;
    width: 48px;
    height: 24px;
    border-radius: 24px;
    -webkit-transition: background .28s cubic-bezier(.4,0,.2,1);
    transition: background .28s cubic-bezier(.4,0,.2,1);
    vertical-align: middle;
    cursor: pointer;
    overflow: hidden
}

.bh-switch .bh-switch-helper:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,.2);
    border-radius: 100%;
    webkit-transition: left .28s cubic-bezier(.4,0,.2,1),background .28s cubic-bezier(.4,0,.2,1),box-shadow .28s cubic-bezier(.4,0,.2,1);
    -webkit-transition: left .28s cubic-bezier(.4,0,.2,1),background .28s cubic-bezier(.4,0,.2,1),box-shadow .28s cubic-bezier(.4,0,.2,1);
    transition: left .28s cubic-bezier(.4,0,.2,1),background .28s cubic-bezier(.4,0,.2,1),box-shadow .28s cubic-bezier(.4,0,.2,1)
}

.bh-switch>.bh-switch-text {
    padding: 2px 4px;
    line-height: 20px;
}

.bh-switch>.bh-switch-text:after {
    content: attr(open-text);
    display: inline;
    color: #666
}

.bh-switch input {
    position: absolute;
    z-index: 2;
    width: 48px;
    margin: 0;
    height: 100%;
    cursor: pointer
}

.bh-switch input:checked+.bh-switch-helper:before {
    left: 26px
}

.bh-switch input:checked+.bh-switch-helper+.bh-switch-text:after {
    content: attr(close-text);
    color: #60BE29
}

.bh-switch .bh-open {
    display: none
}

.bh-switch input:checked+.bh-switch-helper {
    background: #60BE29
}

.bh-switch input:disabled:checked+.bh-switch-helper {
    background: rgba(96,190,41,.35)
}

.bh-switch input:disabled:checked+.bh-switch-helper:before {
    background: #fff
}

.bh-switch input:disabled+.bh-switch-helper:before {
    background-color: #D8DCF0;
    box-shadow: none
}

.bh-switch .bh-switch-label.bh-close {
    color: #F0F1F9
}

.bh-switch .bh-switch-label.open {
    color: #60BE29
}

.bh-switch .bh-switch-helper {
    background-color: #F0F1F9
}

.bh-switch.danger input:checked+.bh-switch-helper {
    background: #60BE29
}

.bh-switch.danger input:disabled:checked+.bh-switch-helper {
    background: rgba(96,190,41,.35)
}

.bh-switch.danger input:disabled:checked+.bh-switch-helper:before {
    background: #fff
}

.bh-switch.danger input:disabled+.bh-switch-helper:before {
    background-color: #D8DCF0;
    box-shadow: none
}

.bh-switch.danger .bh-switch-label.bh-close {
    color: #E24034
}

.bh-switch.danger .bh-switch-label.open {
    color: #60BE29
}

.bh-switch.danger .bh-switch-helper {
    background-color: #E24034
}