@charset "UTF-8";

/**
  按钮样式
**/

.cv-btn {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 4px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    outline: none !important;
    padding: 2px;
    font-size: 12px;
    height: 20px;
    border-radius: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #2048B1;
    box-shadow: 0 4px 16px rgba(32, 72, 177, 0.4);
    color: #fff;
    -webkit-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}

.cv-btn:hover,
.cv-btn:focus {
    text-decoration: none;
    box-shadow: 0 8px 16px rgba(4, 122, 220, 0.5);
    background-color: #047ADC;
}

.cv-btn.cv-disabled,
.cv-btn[disabled] {
    cursor: default;
    opacity: 0.2;
    box-shadow: none;
    background-color: #2048B1;
}

.withdrew.cv-disabled,
.cv-btn[disabled] {
    cursor: default;
    opacity: 0.2;
    box-shadow: none;
    background-color: #2048B1;
}

.cv-btn.cv-ghost {
    color: #047ADC;
    background-color: #fff;
    border-color: #2048b1;
}

.cv-btn.cv-ghost:hover,
.cv-btn.cv-ghost:focus {
    box-shadow: 0 8px 16px rgba(4, 122, 220, 0.5);
    background-color: #fff;
}

.cv-btn.cv-ghost.cv-disabled,
.cv-btn.cv-ghost[disabled] {
    opacity: 0.2;
    background-color: #fff;
}

.cv-btn.cv-tag {
    cursor: default;
    border-radius: 4px;
    background-color: rgba(102, 204, 204, 0.6);
    padding: 0 8px;
    box-shadow: none !important;
}


/**
  单选和多选按钮
**/

.cv-checkbox>label {
    position: relative;
    cursor: pointer;
}

.cv-checkbox>label>input {
    position: relative;
    width: 16px;
    height: 16px;
    opacity: 0;
    margin-right: 2px;
}

.cv-checkbox>label>input:checked+.cv-checkbox-helper {
    background-color: #60be29;
}

.cv-checkbox>label>input:checked+.cv-checkbox-helper:after {
    -webkit-transform: scale(1) rotate(-50deg);
    -ms-transform: scale(1) rotate(-50deg);
    transform: scale(1) rotate(-50deg);
    opacity: 1;
}

.cv-checkbox>label>input:checked+.cv-checkbox-helper:before {
    opacity: 0;
}

.cv-checkbox>label>div {
    display: inline-block;
}

.cv-checkbox.cv-active {
    background-color: #60be29;
}

.cv-checkbox.cv-active:after {
    -webkit-transform: scale(1) rotate(-50deg);
    -ms-transform: scale(1) rotate(-50deg);
    transform: scale(1) rotate(-50deg);
    opacity: 1;
}

.cv-checkbox.cv-active:before {
    opacity: 0;
}

.cv-checkbox-helper {
    position: absolute;
    width: 16px;
    height: 16px;
    top: -2px;
    left: 0;
    border-radius: 4px;
}

.cv-checkbox-helper:before,
.cv-checkbox-helper:after {
    content: "";
    -webkit-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cv-checkbox-helper:before {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 1px solid #d8dcf0;
}

.cv-checkbox-helper:after {
    position: absolute;
    opacity: 0;
    -webkit-transform: scale(0) rotate(80deg);
    -ms-transform: scale(0) rotate(80deg);
    transform: scale(0) rotate(80deg);
    width: 13px;
    height: 7px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    border-bottom-left-radius: 2px;
    left: 2px;
    top: 4px;
}


/**
  公共样式
**/

body {
    background-color: #eef3fa;
}

body>.main {
    position: relative;
    width: 1152px;
    margin: 0 auto;
    background-color: #fff;
}

body>.main>article {
    padding: 0 32px;
}

.cv-clearfix {
    clear: both;
}

.cv-clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.cv-clearfix-child:after {
    content: "";
    display: table;
    clear: both;
}

.cv-pull-left {
    float: left;
}

.cv-pull-right {
    float: right;
}

.cv-absolute {
    position: absolute !important;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
    font-weight: normal;
}

h5 {
    font-size: 18px;
    font-weight: normal;
}

.cv-font-weight {
    font-weight: bold;
}

.cv-font-14 {
    font-size: 14px;
}


/**
 下边距系列
**/

.cv-mb-4 {
    margin-bottom: 4px !important;
}

.cv-mb-8 {
    margin-bottom: 8px !important;
}

.cv-mb-16 {
    margin-bottom: 16px !important;
}

.cv-mb-38 {
    margin-bottom: 38px !important;
}

.cv-mb-56 {
    margin-bottom: 56px !important;
}

.cv-mt-16 {
    margin-top: 16px;
}

.cv-pb-38 {
    padding-bottom: 38px;
}

.cv-caption-text {
    font-size: 12px;
    color: #bbb;
}

.cv-color-caption-white {
    color: rgba(255, 255, 255, 0.3) !important;
}

.cv-search-no-more {
    position: relative;
    width: 145px;
    height: 80px;
    font-size: 12px;
    color: #bbb;
    margin: 0 auto;
    padding: 33px 0;
    text-align: center;
}

.cv-search-no-more:before,
.cv-search-no-more:after {
    content: "";
    position: absolute;
    top: 40px;
    width: 32px;
    height: 1px;
    background-color: #bbb;
}

.cv-search-no-more:before {
    left: 0;
}

.cv-search-no-more:after {
    right: 0;
}

.cv-bg-color-primary {
    background-color: #2655c8;
}

.cv-color-danger {
    color: #FF7B7B;
}

.cv-warning-block {
    position: relative;
    background-color: #fff7eb;
    border: 1px solid #ffeacc;
    border-radius: 2px;
    display: inline-block;
    padding: 10px 16px;
}

.cv-block-hide {
    display: none !important;
}

.cv-block-show {
    display: block !important;
}

.cv-close-icon {
    position: absolute;
    right: 24px;
    top: 16px;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.cv-close-icon:hover {
    background-color: #f0f1f9;
}

.cv-close-icon:before,
.cv-close-icon:after {
    content: "";
    position: absolute;
    background-color: #a9a9ab;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cv-close-icon:before {
    top: calc(50% - 1px);
    left: 15%;
    width: 70%;
    height: 2px;
}

.cv-close-icon:after {
    top: 15%;
    left: calc(50% - 1px);
    width: 2px;
    height: 70%;
}

.cv-line {
    position: relative;
    width: 100%;
    height: 1px;
    background-color: #ddd;
}


/**
  页面脚部
**/
.cv-page-footer {
	position: relative;
	width: 100%;
  	line-height: 20px;
  	color: #047ADC;
	font-size: 16px;
	text-align: center;
	padding: 10px 0;
}

.cv-page-footer #noline-tip{
	height: 20px;
}

.cv-page-footer>img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.cv-page-footer>div {
	position: relative;
	z-index: 100;
	word-wrap: break-word;
	word-break: break-all;
}

.cv-page-footer>.cv-copyright {
	font-size: 12px;
}

/**
  页面头部
**/

.cv-page-header {
    position: relative;
    width: 100%;
    height: 60px;
    color: #fff;
    padding: 8px 32px;
    z-index: 100;
}

.cv-page-header>img {
    float: left;
    width: 202px;
    height: 38px;
}

.cv-page-header>nav {
    position: relative;
    float: right;
    font-size: 14px;
    margin-top: 5px;
}

.cv-page-header>nav>span {
    cursor: pointer;
    margin-left: 32px;
}

.cv-page-header>nav>img {
    margin-left: 32px;
}

.cv-page-header>div>.cv-tabs>li>a[disabled] {
    color: rgba(255, 255, 255, 0.3);
}


/**
  浏览器一些默认样式属性重置
**/

html,
body,
div,
iframe,
img,
i,
ul,
li,
nav,
h2,
h3,
h5,
input,
article,
aside,
footer,
header,
section {
    margin: 0;
    padding: 0;
    border: 0;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}


/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* we use a lot of ULs that aren't bulleted.
  you'll have to restore the bullets within content,
  which is fine because they're probably customized anyway */

ul {
    list-style: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    outline: none;
    color: #047ADC;
    text-decoration: none;
}

input,
select,
img {
    vertical-align: middle;
}

img {
    border: none;
}

section {
    position: relative;
}

:-ms-input-placeholder {
    color: #ddd;
}

input {
    font-family: inherit;
}

body {
    font-family: "Microsoft YaHei", "Arial-normal", "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #3F4752;
}


/**
  tab
**/

.cv-tabs {
    position: relative;
    width: 100%;
    list-style: none;
    font-size: 14px;
    border-bottom: 1px solid #e5f1e9;
}

.cv-tabs:after {
    content: "";
    display: table;
    clear: both;
}

.cv-tabs>li {
    position: relative;
    float: left;
    padding: 5px 0;
}

.cv-tabs>li>a {
    position: relative;
    color: #444;
    padding: 6px 16px;
    margin-right: 2px;
}

.cv-tabs>li>a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    -webkit-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.cv-tabs>li>a:hover:after {
    background-color: #ffcc00;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.cv-tabs>li>a[disabled] {
    color: #ccc;
    cursor: default;
}

.cv-tabs>li>a[disabled]:after {
    -webkit-transform: scale(0) !important;
    -ms-transform: scale(0) !important;
    transform: scale(0) !important;
}

.cv-tabs>li.cv-active>a,
.cv-tabs>li.cv-active>a:hover {
    cursor: default;
}

.cv-tabs>li.cv-active>a:after,
.cv-tabs>li.cv-active>a:hover:after {
    background-color: #ffcc00;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.cv-tab-content>.cv-tab-pane {
    display: none;
}

.cv-tab-content>.cv-tab-pane.cv-active {
    display: block;
}

.cv-tab-pane {
    position: relative;
    overflow: auto;
}


/**
  用户信息
**/

.cv-user {
    position: relative;
    width: 300px;
    height: 440px;
    background-color: #fff;
    float: right;
    padding: 24px;
    color: #444;
    border-radius: 8px;
}

.cv-user .cv-btn {
    width: 100%;
    height: 40px;
    font-size: 14px;
}

.cv-user-info-img {
    border: 1px solid #d8dcf0;
    padding: 1px;
    border-radius: 8px;
    margin-right: 8px;
    float: left;
}

.cv-user-info-img>img {
    width: 56px;
    height: 76px;
    border-radius: 8px;
}

.cv-user-info-option {
    float: left;
    width: calc(100% - 68px);
    padding: 10px 0;
}

.cv-user-info-option>h5 {
    font-size: 16px;
    font-weight: bold;
}

.cv-credit-chart {
    position: relative;
    width: 152px;
    height: 152px;
    margin: 0 auto;
}

.cv-credit-chart>div {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    font-size: 20px;
    padding-top: 70px;
    text-align: center;
    z-index: 100;
}

.cv-credit-info {
    text-align: center;
}

.cv-credit-info>div {
    width: 33.33%;
    float: left;
    border-right: 1px solid #cadcfe;
}

.cv-credit-info>div:last-child {
    border: none;
}

.cv-credit-info>div>div {
    margin-bottom: 6px;
}

.cv-credit-num {
    font-size: 20px;
}

.cv-credit-caption {
    color: #999;
}

.cv-credit-color {
    width: 24px;
    height: 4px;
    margin: 0 auto;
    border-radius: 4px;
}

.cv-credit-color.cv-all {
    background-color: #e6f1fd;
}

.cv-credit-color.cv-complete {
    background-color: #3c66ce;
}

.cv-credit-color.cv-not {
    background-color: #66cccc;
}

.cv-user-my-plan>.cv-btn {
    width: 120px;
}

.cv-selected-volunteer-item {
    position: relative;
    text-align: center;
    margin-bottom: 16px;
}

.cv-selected-volunteer-item>.cv-head {
    position: relative;
    height: 40px;
    background-color: rgba(230, 240, 252, 0.6);
    font-size: 14px;
    font-weight: bold;
    line-height: 38px;
    margin-bottom: 4px;
    border-radius: 8px;
}

.cv-selected-volunteer-item>.cv-head>div {
    float: left;
}

.cv-selected-volunteer-item>.cv-head .cv-number {
    width: 156px;
}

.cv-selected-volunteer-item>.cv-head .cv-title {
    width: 310px;
}

.cv-selected-volunteer-item>.cv-head .cv-count {
    width: 156px;
}

.cv-selected-volunteer-item>.cv-head .cv-type {
    width: 156px;
}

.cv-selected-volunteer-item>.cv-head .cv-time {
    width: 156px;
}

.cv-selected-volunteer-item>.cv-head .cv-credit {
    width: 154px;
}

.cv-selected-volunteer-item>.cv-head:after {
    content: "";
    display: table;
    clear: both;
}

.cv-selected-volunteer-item>.cv-body>.cv-row {
    position: relative;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e7f1fd;
}

.cv-selected-volunteer-item>.cv-body>.cv-row>div {
    float: left;
}

.cv-selected-volunteer-item>.cv-body>.cv-row:after {
    content: "";
    display: table;
    clear: both;
}

.cv-selected-volunteer-item>.cv-body>.cv-row>.cv-volunteer {
    width: 82px;
}

.cv-selected-volunteer-item>.cv-body>.cv-row>.cv-teacher {
    width: 85px;
}

.cv-selected-volunteer-item>.cv-body>.cv-row>.cv-type {
    width: 110px;
}

.cv-selected-volunteer-item>.cv-body>.cv-row>.cv-nature {
    width: 110px;
}

.cv-selected-volunteer-item>.cv-body>.cv-row>.cv-department {
    width: 110px;
}

.cv-selected-volunteer-item>.cv-body>.cv-row>.cv-time {
    width: 267px;
}

.cv-selected-volunteer-item>.cv-body>.cv-row>.cv-count {
    width: 84px;
}

.cv-selected-volunteer-item>.cv-body>.cv-row>.cv-first-volunteer {
    width: 98px;
}


/*.cv-selected-volunteer-item > .cv-body > .cv-row > .cv-place {
      width: 338px; }*/

.cv-selected-volunteer-item>.cv-body>.cv-row>.cv-option {
    width: 141px;
}

.cv-selected-course>.cv-row>.cv-option:after,
.cv-selected-volunteer-item>.cv-body>.cv-row>.cv-option:after {
    content: "";
    display: table;
    clear: both;
}

.cv-selected-course>.cv-row>.cv-option>a>img,
.cv-selected-volunteer-item>.cv-body>.cv-row>.cv-option>a>img {
    width: 14px;
    height: 14px;
}

.cv-selected-course>.cv-row>.cv-option>.cv-up,
.cv-selected-volunteer-item>.cv-body>.cv-row>.cv-option>.cv-up {
    margin-right: 8px;
    margin-left: 54px;
    margin-top: 13px;
}

.cv-selected-course>.cv-row>.cv-option>.cv-down,
.cv-selected-volunteer-item>.cv-body>.cv-row>.cv-option>.cv-down {
    margin-right: 8px;
    margin-top: 13px;
}

.cv-selected-course .cv-row>.cv-option>.cv-down>img,
.cv-selected-volunteer-item>.cv-body>.cv-row>.cv-option>.cv-down>img {
    .cv-selected-volunteer-item>.cv-body>.cv-row>.cv-option>.cv-down>img,
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.cv-selected-volunteer-item>.cv-body>.cv-row>.cv-option>a {
    float: left;
}

.cv-selected-course>.cv-row>.cv-option>a[disabled],
.cv-selected-volunteer-item>.cv-body>.cv-row>.cv-option>a[disabled] {
    cursor: default;
    opacity: 0.5;
}

.cv-selected-volunteer-item>.cv-body>.cv-head {
    height: 28px;
    line-height: 28px;
    background-color: rgba(242, 242, 242, 0.6);
    border-bottom: none;
}

.cv-selected-volunteer-item>.cv-body>.cv-head>div {
    border-right: 1px solid #fff;
}

.cv-selected-volunteer-item>.cv-body>.cv-head>div:last-child {
    border-right: none;
}


.xsxk-xktx-tab-content-0 .cv-selected-course {
    position: relative;
    font-size: 14px;
    text-align: center;
}

.xsxk-xktx-tab-content-0 .cv-selected-course>.cv-row {
    position: relative;
    border-top: 1px solid #cadcfe;
    padding: 8px 0;
}

.xsxk-xktx-tab-content-0 .cv-selected-course>.cv-row:last-child {
    border-bottom: 1px solid #cadcfe;
}

.xsxk-xktx-tab-content-0 .cv-selected-course>.cv-row>div {
    position: relative;
    float: left;
    padding: 14px 0;
    border-right: 1px solid rgba(202, 220, 254, 0.5);
}

.xsxk-xktx-tab-content-0 .cv-selected-course>.cv-row>div:last-child {
    border-right: none;
}

.xsxk-xktx-tab-content-0 .cv-selected-course>.cv-row>.cv-title {
    width: 15%;
    padding: 6px 0;
    font-weight: bold;
    word-break: break-all;
  	word-wrap: break-word;
}

.xsxk-xktx-tab-content-0 .cv-selected-course>.cv-row>.cv-name {
    width: 9%;
}

.xsxk-xktx-tab-content-0 .cv-selected-course>.cv-row>.cv-place {
    width: 15%;
}

.xsxk-xktx-tab-content-0 .cv-selected-course>.cv-row>.cv-kclb {
    width: 8%;
}

.xsxk-xktx-tab-content-0 .cv-selected-course>.cv-row>.cv-kcxz {
    width: 10%;
}

.xsxk-xktx-tab-content-0 .cv-selected-course>.cv-row>.cv-xgxklb {
    width: 8%;
}

.xsxk-xktx-tab-content-0 .cv-selected-course>.cv-row>.cv-number {
    width: 7%;
}

.xsxk-xktx-tab-content-0 .cv-selected-course>.cv-row>.cv-time {
    width: 7%;
}

.xsxk-xktx-tab-content-0 .cv-selected-course>.cv-row>.cv-campus {
    width: 7%;
}

.xsxk-xktx-tab-content-0 .cv-selected-course>.cv-row>.cv-isConflict {
    width: 7%;
}

.xsxk-xktx-tab-content-0 .cv-selected-course>.cv-row>.cv-jcBook {
    width: 8%;
}

.xsxk-xktx-tab-content-0 .cv-selected-course>.cv-row>.cv-option {
    width: 6%;
    font-size: 12px;
}

.xsxk-xktx-tab-content-0 .cv-selected-course>.cv-row:after {
    content: "";
    display: table;
    clear: both;
}


/**
  alert对话框
**/

.cv-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.cv-dialog>div {
    position: absolute;
    top: calc(50% - 124px);
    left: calc(50% - 184px);
    width: 368px;
    height: 248px;
    text-align: center;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 16px rgba(32, 72, 177, 0.4);
}

.cv-dialog>div>.cv-body {
    color: #fff;
    padding-top: 42px;
    height: 200px;
    background: #ff9800;
    background: -webkit-linear-gradient(300deg, #ff9800 0%, #ff9800 0%, #ffb952 100%, #ffb952 100%);
    background: linear-gradient(150deg, #ff9800 0%, #ff9800 0%, #ffb952 100%, #ffb952 100%);
}

.cv-dialog.cv-success>div>.cv-body {
    background: green;
}

.cv-dialog.cv-danger>div>.cv-body {
    background: #990000;
}

.cv-dialog>div>.cv-body>img {
    width: 60px;
    height: 60px;
}

.cv-dialog>div>.cv-body>h2 {
    font-size: 20px;
}

.cv-dialog>div>.cv-foot {
    background-color: #fff;
    font-size: 0;
}

.cv-dialog>div>.cv-foot>div {
    display: inline-block;
    width: 50%;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    cursor: pointer;
}

.cv-dialog>div>.cv-foot>.cv-sure {
    color: #FF9800;
}

.cv-dialog>div>.cv-foot>.cv-sure:hover {
    background-color: #fff7eb;
}

.cv-dialog>div>.cv-foot>.cv-cancel:hover {
    background-color: #eef7fe;
}

.cv-dropdown-dialog {
    position: absolute;
    width: 160px;
    /*height: 148px;*/
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

.cv-dropdown-dialog>div {
    padding: 0 16px;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
}

.cv-dropdown-dialog>div:hover {
    background-color: #e8e8e8;
}

.cv-dropdown-dialog>div[disabled] {
    cursor: default;
    background-color: transparent;
    color: #bbbbbb;
}

.cv-selected-course.cv-header .cv-row {
    border-bottom: none;
    padding: 0;
    min-height: 48px;
    background-color: #cadcfe;
}

.cv-selected-course.cv-header>.cv-row>.cv-title {
    padding: 14px 0;
}

.cv-selected-course.cv-header>.cv-row>.cv-title,
.cv-selected-course.cv-header>.cv-row>.cv-name {
    font-weight: normal;
}

.sf-clearfix {
    height: auto !important;
}

.sf-clearfix:before,
.sf-clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.sf-clearfix:after {
    clear: both;
}

.cv-selected-course .course-book,
.cv-selected-course .course-unbook{
	display: inline-block;
    margin-left: 4px;
}

.bh-form-control{
	display: block;
    width: 100%;
    height: 28px;
    padding: 4px;
    font-size: 12px;
    color: #333;
    background-color: #fff;
    border: 1px solid #D8DCF0;
    border-radius: 2px;
}

#cvSelectCourse.no-kclb .cv-kclb{
	display: none;
}
